@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

.foo {
  //background: #d1f4e6;
  //margin-bottom: 48px;
  /*margin: 100 px 0 0 0;*/
}

.top-box {
  height: 200px;
  padding: 0 50px;
  margin: 0;
}

.top-box div {
  margin: auto 0;
}

.bottom-box {
  margin: 0;
  padding: 20px 50px;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #000000;
}

.snap-store {
  background: #000000 url("https://snapcraft.io/static/images/badges/en/snap-store-black.svg") no-repeat center;
  border-radius: 8px;
  background-size: contain;
  width: 169px;
  height: 48px;
}

.windows-store {
  background: #000000 url("https://ipfs.bfast.fahamutech.com/ipfs/bafybeicpqxgkck5s6b7shp4hjqghnr5x2gxhioqet3jaauyokxk3c4f46m/downloadforwin.png") no-repeat center;
  border-radius: 8px;
  background-size: contain;
  width: 169px;
  height: 48px;
}

.mac-store {
  background: #000000 url("https://ipfs.bfast.fahamutech.com/ipfs/bafybeics2hynro5ocq4wz5movi3hec3ju4rbxq3l3osyca446ieakpnavq/dfmacos.png") no-repeat center;
  border-radius: 8px;
  background-size: contain;
  width: 169px;
  height: 48px;
}

.play-store {
  background: #000000 url("/assets/img/google_play_badge.png") no-repeat center;
  border-radius: 8px;
  background-size: contain;
  width: 169px;
  height: 48px;
}

footer {
  padding: 3vh 0;
}
