.pricing-container {
  background: #F5F5F5;
  padding: 16px 23px;
  //height: 100vh;
  overflow: auto;
  max-width: 798px;
  margin-bottom: 100px;
}

.free-pricing-container {
  background: #F5F5F5;
  padding: 16px 23px;
  overflow: auto;
  max-width: 798px;
}

.features-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 8px;
}
