
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
nav{
  background: #d1f4e6;
}
.header-text {
  color: #0b2e13;
  font-size: 4.6vw;
  font-family: Nunito, sans-serif;
  line-height: 1em;
  @media screen and (max-width: 992px) {
      font-size: 6.6vw;
    padding-top: 5vh;
  }
}
.policy{
  font-family: Nunito, sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
}
